<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums de Damso</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Albums de Damso</h1>
    </header>

    <main>
        <div class="artists-container album-container">
            {{range .Damso}}
            <div class="album-box">
                {{if .Images}}
                <img src="{{(index .Images 0).URL}}" alt="{{.Name}}">
                {{end}}
                <div class="album-info">
                    <h3>{{.Name}}</h3>
                    <p>{{.ReleaseDate}}</p>
                    <a class="btn" href="{{.ExternalURLs.Spotify}}" target="_blank">Écouter</a>
                </div>
            </div>
            {{end}}
        </div>

        <div class="btnretour">
            <a href="/">Retour à l'accueil</a>
        </div>
    </main>
</body>
</html>
