@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Coda", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.bkgimg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/static/images/damso.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}

.artist-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.artist img {
    border-radius: 10%;
    cursor: pointer;
    transition: transform 0.2s;
}

.artist img:hover {
    transform: scale(1.1);
}
