<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musique de Laylow</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Musique de Laylow</h1>
    </header>

    <main>
        <div class="artists-container">
            {{range .Laylow}}
            <div class="artist-profile">
                <a href="{{.ExternalURLs.Spotify}}" target="_blank">
                    {{if .Album.Images}}
                    <img src="{{(index .Album.Images 0).URL}}" alt="{{.Name}}">
                    {{end}}
                    <h3>{{.Name}}</h3>
                </a>
            </div>
            {{end}}

        </div>

        <div class="btnretour">
            <a href="/">Retour à l'accueil</a>
        </div>
    </main>
</body>
</html>
